body {
  background-color: whitesmoke;
}


.card-title {
  display: flex;
  justify-content: center;
  box-shadow: 2px grey;
  margin-bottom: 1px solid black;
}

#pic-img {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2em;
  height: 15em;
}

.card-text {
  display: flex;
  justify-content: center;
}

.voldy {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2em;
  height: 15em;
}

.card-title2 {
  justify-content;
}
